body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.new-board-btn {
    width: 200px;
    border-radius: 2%;
}

.box {
    background-color: gray;
    box-sizing: border-box;

}